{% extends 'baseQuestion.html' %}

{% block title %}解答結果{% endblock %}

{% block content %}
<div class="nav-item">
{% if object_list|length <= 4 %}
    <a href="{% url 'questionRandom' %}" class="choice4">４択問題</a>
{% elif object_list|length <= 10 %}
    <a href="{% url 'questionRandom' %}" class="choice4">４択問題</a>
    <a href="{% url 'questionRandom10' %}" class="choice10">10択問題</a>
    {% elif object_list|length <= 20 %}
    <a href="{% url 'questionRandom' %}" class="choice4">４択問題</a>
    <a href="{% url 'questionRandom10' %}" class="choice10">10択問題</a>
    <a href="{% url 'questionRandom20' %}" class="choice20">20択問題</a>
{% else %}
    <a href="{% url 'questionRandom' %}" class="choice4">４択問題</a>
    <a href="{% url 'questionRandom10' %}" class="choice10">10択問題</a>
    <a href="{% url 'questionRandom20' %}" class="choice20">20択問題</a>
    <a href="{% url 'questionRandom30' %}" class="choice30">30択問題</a>
{% endif %}
<a class="toQichiran" href="{% url 'list-question' %}">Workbook一覧へ</a>
<a class="toQichiran" href="{% url 'create-question' %}">Workbook登録へ</a>
<a class="toQichiran" href="{% url 'test-question' %}">TEST</a>
</div>
<br />
<br />
<div class="kekka"><label><h2>テスト結果　　　　　<span class="seikai">{{ test50mondaisuu }}問中　{{ test50seikai }}問正解　正解率　{{ seikairitsu }}%</span></h2></label></div>
<br />

<div>pandas  {{ df }}</div>

{{ dQID }}

{{ testId }}
<div>問題{{ testId1 }}　答え{{ testId1 }}</div>
<div>{{ testId2 }}　答え{{ testId2 }}</div>
<div>{{ testId3 }}　答え{{ testId3 }}</div>

<input type="hidden" id="test50" name="testId1" value="{{ testId1 }}">
<input type="hidden" id="test50" name="testId2" value="{{ testId2 }}">
<input type="hidden" id="test50" name="testId3" value="{{ testId3 }}">

<input type="hidden" id="test50" name="testId4" value="{{ testId4 }}">
<input type="hidden" id="test50" name="testId5" value="{{ testId5 }}">
<input type="hidden" id="test50" name="testId6" value="{{ testId6 }}">
<input type="hidden" id="test50" name="testId7" value="{{ testId7 }}">
<input type="hidden" id="test50" name="testId8" value="{{ testId8 }}">
<input type="hidden" id="test50" name="testId9" value="{{ testId9 }}">
<input type="hidden" id="test50" name="testId10" value="{{ testId10 }}">

<input type="hidden" id="test50" name="testId11" value="{{ testId11 }}">
<input type="hidden" id="test50" name="testId12" value="{{ testId12 }}">
<input type="hidden" id="test50" name="testId13" value="{{ testId13 }}">

<input type="hidden" id="test50" name="testId14" value="{{ testId14 }}">
<input type="hidden" id="test50" name="testId15" value="{{ testId15 }}">
<input type="hidden" id="test50" name="testId16" value="{{ testId16 }}">
<input type="hidden" id="test50" name="testId17" value="{{ testId17 }}">
<input type="hidden" id="test50" name="testId18" value="{{ testId18 }}">
<input type="hidden" id="test50" name="testId19" value="{{ testId19 }}">
<input type="hidden" id="test50" name="testId20" value="{{ testId20 }}">

<input type="hidden" id="test50" name="testId21" value="{{ testId21 }}">
<input type="hidden" id="test50" name="testId22" value="{{ testId22 }}">
<input type="hidden" id="test50" name="testId23" value="{{ testId23 }}">

<input type="hidden" id="test50" name="testId24" value="{{ testId24 }}">
<input type="hidden" id="test50" name="testId25" value="{{ testId25 }}">
<input type="hidden" id="test50" name="testId26" value="{{ testId26 }}">
<input type="hidden" id="test50" name="testId27" value="{{ testId27 }}">
<input type="hidden" id="test50" name="testId28" value="{{ testId28 }}">
<input type="hidden" id="test50" name="testId29" value="{{ testId29 }}">
<input type="hidden" id="test50" name="testId30" value="{{ testId30 }}">

<input type="hidden" id="test50" name="testId31" value="{{ testId31 }}">
<input type="hidden" id="test50" name="testId32" value="{{ testId32 }}">
<input type="hidden" id="test50" name="testId33" value="{{ testId33 }}">

<input type="hidden" id="test50" name="testId34" value="{{ testId34 }}">
<input type="hidden" id="test50" name="testId35" value="{{ testId35 }}">
<input type="hidden" id="test50" name="testId36" value="{{ testId36 }}">
<input type="hidden" id="test50" name="testId37" value="{{ testId37 }}">
<input type="hidden" id="test50" name="testId38" value="{{ testId38 }}">
<input type="hidden" id="test50" name="testId39" value="{{ testId39 }}">
<input type="hidden" id="test50" name="testId40" value="{{ testId40 }}">

<input type="hidden" id="test50" name="testId41" value="{{ testId41 }}">
<input type="hidden" id="test50" name="testId42" value="{{ testId42 }}">
<input type="hidden" id="test50" name="testId43" value="{{ testId43 }}">

<input type="hidden" id="test50" name="testId44" value="{{ testId44 }}">
<input type="hidden" id="test50" name="testId45" value="{{ testId45 }}">
<input type="hidden" id="test50" name="testId46" value="{{ testId46 }}">
<input type="hidden" id="test50" name="testId47" value="{{ testId47 }}">
<input type="hidden" id="test50" name="testId48" value="{{ testId48 }}">
<input type="hidden" id="test50" name="testId49" value="{{ testId49 }}">
<input type="hidden" id="test50" name="testId50" value="{{ testId50 }}">




<div class="font_size"><!--文字の大きさ-->

      <h4>【問題】　{{ dataQuestion|linebreaksbr }}</h4>

      <!--<table class="ProductTable">-->
      <br />
      <h6>【あなたの答え】　{{ selectedAns }}</h6>
      <br />
      <h2>【正解】　{{ dataAnswer }}</h2>

<!--</table>-->


 
</div><!--文字の大きさ-->

{% include 'book/components/pagination.html' %}
{% endblock content %}